### Iyey Ponce asked a question

Hello Guys! I hope you could help me with this one:

So, I have a list of numbers but they are actually in string format. I would like to know how to convert it to integers without using the int() function? 

What I would like to do is I wanted to break the numbers like this : if it is 58, then output should be 50 + 8 using a map function. Is that possible?

EG :
lst1 = ['74', '58', '69']
output should be : '70 + 4 = 74', '50 + 8 = 58', '60 + 9 = 69'

Thank you so much!

### Solution:

In [1]:
def func3(x):
    return list(reversed([y + '0' * i for i,y in enumerate(reversed(str(x)))]))

In [2]:
# Test
func3(456)

['400', '50', '6']

In [3]:
def func4(x):
    ll = reversed([y + '0' * i for i,y in enumerate(reversed(str(x)))])  # <-- Copied from above function().
    return ' + '.join(ll) + ' = ' + str(x)

In [4]:
# Test
func4(456)

'400 + 50 + 6 = 456'

In [5]:
# To apply the solution:

lst1 = [ 74, 58, 69 ]
[func4(x) for x in lst1]

['70 + 4 = 74', '50 + 8 = 58', '60 + 9 = 69']

In [ ]:
### Solution by Francesco:

In [11]:
def myInt(myStr):
    myStr = str(myStr)
    O = ord("0")
    L = len(myStr)
    V = 0
    for i in range(L):
        V += (ord(myStr[i]) - O) * (10 **(L - i - 1))
    return V

lst1 = [ 74, 58, 69 ]
list(map(myInt, lst1))

[74, 58, 69]