This question is inspired by another <a href="https://web.facebook.com/groups/python/permalink/987590168748214/">question</a> in FB group.

<table>
    <tr>
        <th>Name</th>
        <th>Mathematics</th>
        <th>Geography</th>            
    </tr>
    <tr>
        <td>Adrian</td>
        <td>98</td>
        <td>65</td>
    </tr>        
    <tr>
        <td>Benny</td>
        <td>72</td>
        <td>75</td>
    </tr>        
    <tr>
        <td>Christ</td>
        <td>65</td>
        <td>58</td>
    </tr>        
    <tr>
        <td>Danny</td>
        <td>80</td>
        <td>78</td>
    </tr>        
</table>

Sort the rows above in descending order, according to the students' scores in
<ol>
    <li>Mathematics</li>
    <li>Geography</li>
</ol>

### Solution 1: Using nested dictionaries

In [1]:
data1 = {
    'Adrian': {
        'Math': 98,
        'Geography': 65,
    },
    'Benny': {
        'Math': 72,
        'Geography': 75,
    },
    'Christ': {
        'Math': 65,
        'Geography': 58,
    },
    'Danny': {
        'Math': 80,
        'Geography': 78,
    },
}

In [2]:
# To view the data,

[x for x in data1.items()]

[('Adrian', {'Math': 98, 'Geography': 65}),
 ('Benny', {'Math': 72, 'Geography': 75}),
 ('Christ', {'Math': 65, 'Geography': 58}),
 ('Danny', {'Math': 80, 'Geography': 78})]

In [3]:
# To get the students' scores in Mathematic:

[x[1]['Math'] for x in data1.items()]

[98, 72, 65, 80]

In [4]:
# To sort the data according to students' scores in Mathematics:

sorted(data1.items(), key=lambda x: x[1]['Math'], reverse=True)

[('Adrian', {'Math': 98, 'Geography': 65}),
 ('Danny', {'Math': 80, 'Geography': 78}),
 ('Benny', {'Math': 72, 'Geography': 75}),
 ('Christ', {'Math': 65, 'Geography': 58})]

In [5]:
# To sort the data according to students' scores in Geography:

sorted(data1.items(), key=lambda x: x[1]['Geography'], reverse=True)

[('Danny', {'Math': 80, 'Geography': 78}),
 ('Benny', {'Math': 72, 'Geography': 75}),
 ('Adrian', {'Math': 98, 'Geography': 65}),
 ('Christ', {'Math': 65, 'Geography': 58})]

### Solution 2: Using nested tuples

In [6]:
data2 = (
    ('Adrian', (98, 65)),
    ('Benny', (72, 75)),
    ('Christ', (65, 58)),
    ('Danny', (80, 78)),
)

In [7]:
# To view the data,

data2

(('Adrian', (98, 65)),
 ('Benny', (72, 75)),
 ('Christ', (65, 58)),
 ('Danny', (80, 78)))

In [8]:
# To get the students' scores in Mathematic:

[x[1][0] for x in data2]

[98, 72, 65, 80]

In [9]:
# To sort the data according to students' scores in Mathematics:

sorted(data2, key=lambda x: x[1][0], reverse=True)

[('Adrian', (98, 65)),
 ('Danny', (80, 78)),
 ('Benny', (72, 75)),
 ('Christ', (65, 58))]

In [10]:
# To sort the data according to students' scores in Geography:

sorted(data2, key=lambda x: x[1][1], reverse=True)

[('Danny', (80, 78)),
 ('Benny', (72, 75)),
 ('Adrian', (98, 65)),
 ('Christ', (65, 58))]

### Solution 3: Using OOP

In [11]:
class Student():
    def __init__(self, name, math, geography):
        self.name = name
        self.math = math
        self.geog = geography
        
    def __repr__(self):
        return "{}: {}".format(self.name, {'Math': self.math, 'Geography': self.geog})

In [12]:
data3 = [
    Student('Adrian', 98, 65),
    Student('Benny', 72, 75),
    Student('Christ', 65, 58),
    Student('Danny', 80, 78),
]

In [13]:
# To view the data,

data3

[Adrian: {'Math': 98, 'Geography': 65},
 Benny: {'Math': 72, 'Geography': 75},
 Christ: {'Math': 65, 'Geography': 58},
 Danny: {'Math': 80, 'Geography': 78}]

In [14]:
# To get the students' scores in Mathematic:

[x.math for x in data3]

[98, 72, 65, 80]

In [15]:
# To sort the data according to students' scores in Mathematics:

sorted(data3, key=lambda x: x.math, reverse=True)

[Adrian: {'Math': 98, 'Geography': 65},
 Danny: {'Math': 80, 'Geography': 78},
 Benny: {'Math': 72, 'Geography': 75},
 Christ: {'Math': 65, 'Geography': 58}]

In [16]:
# To sort the data according to students' scores in Geography:

sorted(data3, key=lambda x: x.geog, reverse=True)

[Danny: {'Math': 80, 'Geography': 78},
 Benny: {'Math': 72, 'Geography': 75},
 Adrian: {'Math': 98, 'Geography': 65},
 Christ: {'Math': 65, 'Geography': 58}]